
.etage {
display: flex;
flex-wrap: wrap;
align-items: center;
}
.door {
width: 300px;
height: 150px;
background-color: dimgray;
margin: 4px;
}

.opened-door {
width: 300px;
height: 150px;
background-color: firebrick;
margin: 4px;
}