
.etage {
display: flex;
flex-wrap: wrap;
align-items: center;
}
.door{
    width: 300px;
    height: 150px;
    margin: 4px;
}
.door.close{
background-color: dimgray;
}

.door.open {
background-color: gold;
}
.door.defeat {
    background-color: black;
    color: white;
    font-size: 150px;
    text-align: center;
    line-height: 100%
}
.door.boss {
    background-color: firebrick;
    color: black;
    font-size: 100px;
    text-align: center;
    line-height: 100%
}