/*General*/
@font-face{
    font-family: 'pixeled';
    src: url('./asset/04b03.woff2');
}
img {
    image-rendering: pixelated;
    vertical-align: middle;
}
button {
    background-color: #523a42;
    -webkit-appearance: unset;
    border:3px solid #1c1117;
    box-shadow: 2px 2px 2px black;
    padding: 4px 8px;
    font-family: 'pixeled',Lato,LatoExtended,sans-serif;
}
button:focus{
    outline: none;
}
button:active{
    box-shadow: none;
}
body{
    margin: 0;
}
.topbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    /* flex-direction: column; */
}
    /* Box */
.box {
    background-color: #523a42;
    border: 8px solid #1c1117;
    /* box-shadow: 3px 3px 3px black; */
    margin: 25px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mini.box {
    position: relative;
    margin: 0;
    border: 2px solid #1c1117;
    /* box-shadow: 3px 3px 3px black; */
    /* margin: 25px; */
    padding: 5px;
    left: 20px;
    top: -20px;   
    width: 100px;
    font-size: 0.7em;
    z-index: 10; 
}

    .box .info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .box .info .stats {
        display: flex;
        justify-content: space-around;
        
    }
    .box .info .stats>div {
        display: flex;
        /* align-content: center; */
        align-items: center;
        justify-content: center;
        /* text-align: center; */
    }
    .box .info .stats .magie {
        color: cornflowerblue;
    }
    
    .info .stats .sante {
        background-image: url(asset/heart_sup_full.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        color: black;
    }
    .box .info .nom {
        padding:5px;
        font-weight: bold;
        font-size: 1.2em;
    }

  .box>.temps{
      font-size: 22 px;
      
  }
  .hourglass {
      width: 50px;
        
  }
 

 /* Donjon  */
.etage {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
}
.door{
    width: 256px;
    height: 241px;
    margin: 4px;
    filter: drop-shadow(3px 3px 3px black);
}
.door.close{
    background-image: url('./asset/door_1.png');
    background-repeat: no-repeat;
    background-size: auto;
    
}

.door.open {
background-image: url('./asset/door_1_open.png');
background-repeat: no-repeat;
    background-size: auto;
}
.door.defeat {
    background-color: black;
    color: white;
    font-size: 150px;
    text-align: center;
    line-height: 100%
}
.door.boss {
    background-color: firebrick;
    color: black;
    font-size: 100px;
    text-align: center;
    line-height: 100%
}
.door-monster{
    transform: translate(10px,8px);
}
.door-skull {
    width:40px;
    image-rendering: pixelated;
    position: relative;
    top: 201px;
    left: 120px;
}

/* Salle */
.combat{
    background-color: blueviolet;
    display: flex;
}
.hero {
    background-color: rgb(217, 242, 243);
    flex:1;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
/* hero detail */
.hero_detail{
    flex: 1;
    
}
.hero_detail .content{
    display: flex;
    
}
.hero_detail .portrait{
    padding: 5px;
    
}

.info .stats>div{
    width:40px;
    height:40px;
    
    margin-bottom: 4px;
}

.hero_detail .portrait>img{
   height:270px
}
.equipement{
    display: flex;
    flex-direction: column;
}
.equipement .slot{
    background-color: rgb(177, 170, 153);
    margin-bottom: 4px;
    margin-left: 4px;
    width: 40px;
    height :40px;
    background-size: 100%; 
    
}
.equipement .empty{
    opacity: 0.6;
    background-blend-mode: soft-light;
}
.equipement>.slot>.item>img{
    width: 38px;
    background-color: #1c1117;
    border: 1px solid white;
}
.equipement .helmet{
    background-image: url("asset/empty_head.png");
}
.equipement .torso{
    background-image: url(asset/empty_torso.png);
}
.equipement .gauntlet{
    background-image: url(asset/empty_gauntlet.png);
}
.equipement .boots{
    background-image: url(asset/empty_feet.png);
}
.equipement .handR{
    background-image: url(asset/Rhand.png);
}
.equipement .handL{
    background-image: url(asset/Lhand.png);  
}
.monstre {
    background-color: rgb(226, 225, 225);
    flex: 1;
}
.hero .sante {
    display: flex;
    color: rgb(148, 0, 0);
}

.action{
    display: flex;
    flex-direction: column;
}
.stats {
    display: flex;
}
.roll {
    flex: 1;
    align-items: flex-end;
    justify-content: center;
    display: flex;
    padding-bottom: 10px;
}

.hero .titre {
    padding: 3px;
}
.hero .stock-des {
    display: flex;
    flex-direction: column;
    padding: 2px;
}
.de,.cible {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height:60px;
    width:60px;
    margin: 2px;
    font-size: 30px;
    padding: 3px;
}
.de.focus {
    border: 1px solid white;
}

.force .de,.force.cible.fill,  .info .stats .force{
    background-color: peru;
}
.agilite .de,.agilite.cible.fill, .info .stats .agilite {
    background-color: mediumseagreen;
}
.magie .de,.magie.cible.fill, .info .stats .magie {
    background-color: navy;
}
.force.cible {
    background-color: rgb(204, 178, 151);
}
.agilite.cible {
    background-color: rgb(126, 170, 146);
}
.magie.cible {
    background-color: rgb(100, 100, 129);
}
.cible.possible{
    border: 2px solid greenyellow;
}
.cible.multi{
    width:120px;
}
.damages{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 20px;
    justify-content: right;
}
.damage>img{
    width:15px;
    height: 15px;
    vertical-align: baseline;
}
.healthbar>img{
    margin:2px;
    width : 20px;
}
.malus>img{
    width:15px;
}
/* butin */
.resultat .item>img {
    width: 100%;
}
.resultat .item .box {
    display: flex;
    flex-direction: column;
}
